extends layout

block content
	.container
		.row
			.col-md-8
				h1.app-title
					span SKY
					span.c-primary TASKR!
				br
				form(action='/tasks', method='POST')
					.input-group.input-container
						input.form-control.add-todo(name="title", type='text', placeholder='Buy water, go to the reunion with clients..', autofocus)
					.btn-container
						button.btn.btn-primary Add Task
						a.btn.btn-success(href='/tasks/completed') See all completed tasks
				div.panel
					ul#sortable.list-unstyled.list-group.task-list
						each task in tasks
							li
								.content
									p #{task.title}
										small Created at: #{moment(task.createdAt).format('LLL')}
									form.edit-form(action=`/task/${task.id}`)
										input.input-lg.hidden(name='title', value=task.title)
								.edition
									a#task-done.btn.btn-success(href=`/task/${task.id}`)
										i.glyphicon.glyphicon-ok
									a#task-edit.btn.btn-primary
										i.glyphicon.glyphicon-pencil
									a#task-remove.btn.btn-danger(href=`/task/${task.id}`)
										i.glyphicon.glyphicon-trash

				div.panel.sub-panel
					ul#sortable.list-unstyled.list-group.items-list
						li
							p
								span.items-number #{tasks.length}
								|  Items Left
